@media (max-width: 769px) {
  .container {
    max-width: 456px;
  }
  .btn {
    max-width: 376px;
    width: 100%;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 327px;
    padding: 24px;
  }
  .btn {
    max-width: 279px;
    width: 100%;
  }
}
@media (max-width: 448px) {
  .container {
    max-width: 327px;
    padding: 24px;
  }
  .btn {
    max-width: 279px;
    width: 100%;
  }
}
