@media (max-width: 769px) {
  .container {
    max-width: 456px;
  }
  .btn {
    width: 376px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 327px;
    padding: 24px;
  }
  .btn {
    width: 279px;
  }
}
